<template>
    <v-container class="contact" fill-height fluid>

        <v-row>

            <v-col class="info-col">
                <v-container class="contact-infos">

                    <v-container class="contact-header">
                        <h1>Entre em contato com nosso time!</h1>
                    </v-container>

                    <v-container class="contact-contact">
                        <h4 class="contact-title">WhasApp</h4>
                        <h4 class="contact-link">Converse conosco!</h4>
                    </v-container>

                    <v-container class="contact-contact">
                        <h4 class="contact-title">E-mail</h4>
                        <h4 class="contact-link">contato@arcca.io</h4>
                    </v-container>

                </v-container>
            </v-col>

            <v-col class="form-col">

                <v-container class="contact-form" v-for="(q, index) in questions" :key="q.title">
                    <v-text-field
                    hide-details="auto"
                    outlined
                    :placeholder="q.title"
                    class="contact-questions"
                    v-if="index <= questions.length - 2 "/>
                    <v-textarea outlined class="contact-textarea" :placeholder="q.title" v-else />
                </v-container>

                <v-container class="submit-container">
                    <v-btn class="form-submit" rounded>Enviar mensagem</v-btn>
                </v-container>
            </v-col>

        </v-row>
    </v-container>
</template>

<style scoped>

.contact {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact-header {
    font-size: 18px;
    padding-top: 0px;
    width: 50%;
    float:left;
    margin: 0 0;
    padding-left: 0px;
}
.contact-contact {
    padding-top: 40px;
    padding-left: 0;
}
.contact-title {
    font-size: 12px;
    color: #868E96;
}
.contact-link {
    font-size: 14px;
    color: #2BC4C3;
}
.info-col {
    width: 30%;
    height: 50%;
    padding-top: 0px;
}
.contact-infos {
    display: flex;
    flex-flow: column;
}

.form-col {
    display: block;
    width: 30%;
    height: 50%;

}
.contact-form {
    width: 100% !important;
    padding: 6px;

}
.contact-textarea {
    height: 144px;
}
.form-submit {
    float: right;
    margin-top: 20px;
    background-color: #403999 !important;
    color: #FFFFFF;
}
</style>

<script>
export default {
  name: 'ContactPage',
  data () {
    return {
      questions: [
        {
          title: 'Nome',
          value: ''
        },
        {
          title: 'E-mail',
          value: ''
        },
        {
          title: 'Assunto',
          value: ''
        },
        {
          title: 'Digite sua mensagem...',
          value: ''
        }
      ]
    }
  }
}
</script>
