<template>
        <v-container>
            <h3> {{miniTitle}} </h3>
            <h1> {{title}} </h1>
            <p> {{description}} </p>
            <v-container class="btn-know">
                <v-btn rounded> {{btnText}} </v-btn>
            </v-container>
        </v-container>
</template>

<script>
export default {
  name: 'HeroCard',
  props: {
    miniTitle: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    btnText: {
      type: String,
      required: true
    }
  }
}
</script>
