<template>
  <v-container class="hero">
    <v-row align="center">

      <v-col class="hero-title">
        <HeroCard
        :miniTitle="cards[currentSelected-1].miniTitle"
        :title="cards[currentSelected-1].title"
        :description="cards[currentSelected-1].description"
        :btnText="cards[currentSelected-1].btnText"/>

        <v-container class="btn-numbers">
            <v-btn
            class="hero-btn"
            text
            outlined
            fab
            small
            v-for="n in 5"
            :key="n"
            @click="selectIt(n)"
            :color="btnColor(currentSelected)">
            {{n}}
            </v-btn>
        </v-container>
      </v-col>

      <v-col class="hero-img">
        <img :src="require('~/assets/images/site.svg')" height="500"/>
      </v-col>

    </v-row>
  </v-container>
</template>

<style scoped>
.hero {
    background-color: #F0F6F980;
}
.hero-mne {
    display: flex;
  }
.hero-btn {
  margin-right: 5%;
}
  .hero-title{
    display: block;
  }
  .hero-img img{
      height: 100%;
  }
  .btn-numbers {
      padding-top: 12%;
  }
  .btn-know {
      padding-left: 0px;
      padding-top: 8%;
  }
</style>

<script>
export default {
  name: 'HeroSection',
  data () {
    return {
      currentSelected: 1,
      cards: [
        {
          id: 1,
          miniTitle: 'Seja bem-vindo ao',
          title: 'Manual do Novo Empreendedor',
          description: 'texto absurdo texto texto',
          btnText: 'Quero conhecer'
        },
        {
          id: 2,
          miniTitle: '',
          title: 'Jornada de Descoberta',
          description: 'texto absurdo texto texto',
          btnText: 'Saiba Mais'
        },
        {
          id: 3,
          miniTitle: '',
          title: 'Jornada de Teste',
          description: 'texto absurdo texto texto',
          btnText: 'Saiba Mais'
        },
        {
          id: 4,
          miniTitle: '',
          title: 'Jornada de Planejamento',
          description: 'texto absurdo texto texto',
          btnText: 'Saiba Mais'
        },
        {
          id: 5,
          miniTitle: '',
          title: 'Jornada de Execução',
          description: 'texto absurdo texto texto',
          btnText: 'Saiba Mais'
        }
      ]
    }
  },
  methods: {
    selectIt (number) {
      this.currentSelected = number
    },
    btnColor (number) {
      if (number === this.currentSelected) {
        return '#403999'
      }
    }
  }
}
</script>
