<template>
  <v-app light>
    <v-app-bar
      class="nav-bar"
      app>
      <img class="nav-bar-logo" :src="require('../assets/images/mne_logo_completa.svg')" height="40"/>

      <v-spacer> </v-spacer>

      <v-toolbar-items>
        <v-btn text v-for="page in pages" :key="page.title">
          <NuxtLink :to="page.slug" style="text-decoration: none; color: inherit;">{{page.title}}</NuxtLink>
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>

    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>

    <v-footer
      app
      absolute
      class="footer"
    >
    <v-row>
      <v-col>
        <v-list class="footer-list-left">
          <v-list-item class="footer-list-item-left-1">
            <img class="nav-bar-logo" :src="require('../assets/images/mne_logo_completa.svg')" height="40"/>
          </v-list-item>
          <v-list-item>
            <span class="footer-date">&copy; {{ new Date().getFullYear() }}. Todos os direitos reservados. </span>
          </v-list-item>
        </v-list>
      </v-col>

      <v-col>
        <v-container>
          <p class="footer-list-item-right-1"> O Manual do Novo Empreendedor é um oferecimento da Arcca. Qualquer dúvida entre em contato conosco por meio da aba Contato. </p>
        </v-container>

        <v-spacer></v-spacer>

        <v-list class="footer-menu">
          <v-list-item v-for="item in items" :key="item.id" class="footer-list-item-right-2">
            <v-btn text x-small>
             {{ item.name }}
            </v-btn>
          </v-list-item>
        </v-list>

      </v-col>
    </v-row>

    </v-footer>

  </v-app>
</template>

<style>
    .nav-bar {
      margin-bottom: 120px !important;
      box-shadow: none !important;
      background-color: #F0F6F980 !important;
    }
    .footer {
      height: 200px;
    }
    .footer-list-left {
      height: 110%;
      background-color: transparent !important;
      display: block;
    }
    .footer-list-item-left-1 {
      margin-bottom: 3%;
    }
    .footer-date {
      margin-top: 5%;
      font-size: 12px;
    }
    .footer-list-item-right-1 {
      text-align: right;
      margin-right: 7%;
      font-size: 14px;
      margin-top: 1%;
    }
    .footer-list-item-right-2 {
      display: inline-flex !important;
    }
    .footer-menu {
      background-color: transparent !important;
      margin-left: 26%;
    }
    v-btn {
      border-radius: 50px;
    }

</style>

<script>
export default {
  name: 'DefaultLayout',
  data () {
    return {
      items: [
        {
          id: '1',
          name: 'Jornada'
        },
        {
          id: '2',
          name: 'Ferramentas'
        },
        {
          id: '3',
          name: 'Blog'
        },
        {
          id: '4',
          name: 'Contato'
        }
      ],
      pages: [
        {
          title: 'Jornada',
          slug: '/'
        },
        {
          title: 'Ferramentas',
          slug: '/'
        },
        {
          title: 'Blog',
          slug: '/'
        },
        {
          title: 'Contato',
          slug: '/contato'
        }
      ]
    }
  },
  methods: {

  }
}
</script>
