<template>
  <v-container class="HomePage" fluid>

    <v-container class="hero">
      <Hero miniTitle="Seja bem-vindo ao" title="Manual do Novo Empreendedor" :description="text"></Hero>
    </v-container>

    <v-container class="journey">
      <v-row>
        <v-container class="journey-header">
          <h1>Jornada do Empreendedor</h1>
        </v-container>
        <v-container class="journey-description">
          <p>In this container, we tell you all about the new entrepreneur handbook. You can start by taking one of the steps in the path below. </p>
        </v-container>
      </v-row>
      <v-row class="journey-menu">
        <v-col v-for="step in steps" :key="step" align="center">
          <v-btn text rounded> {{step.title}} </v-btn>
        </v-col>
      </v-row>
      <v-row class="journey-steps">

      </v-row>
    </v-container>

    <v-container class="tools">
      <v-row>
        <v-container class="tools-title">
          <h1>Ferramentas</h1>
        </v-container>
        <v-container class="tools-gallery">
          <v-carousel class="tools-carousel">
            <v-carousel-item class="tools-carousel-item" v-for="tool in tools" :key="tool.title">
              <v-container class="fill-height">
               {{tool.title}}
                <v-container>
                  <p> Colocar um v-card aqui depois </p>
                </v-container>
              </v-container>
            </v-carousel-item>
          </v-carousel>
        </v-container>
      </v-row>
    </v-container>
    <v-container class="who-we-are">
      <v-row>
        <v-col>
          <v-sheet class="dummy-sheet">
          </v-sheet>
        </v-col>
        <v-col class="who-description">
          <v-container>
            <h3>Quem Somos?</h3>
          </v-container>
          <v-container>
            <h1> Queremos transformar a vida do empreendedor brasileiro </h1>
          </v-container>
          <v-container>
            <p>  Não há morte. O encontro de duas expansões, ou a expansão de duas formas, pode determinar a supressão de uma delas;
            mas, rigorosamente, não há morte, há vida, porque a supressão de uma é princípio universal e comum. </p>
          </v-container>
        </v-col>

      </v-row>
    </v-container>

    <v-spacer class="spacer"></v-spacer>

    <v-container class="manifest">
      <v-row>
        <v-card class="manifest-v-card">
          <h1>Manifesto</h1>
          <v-card-text>
            <p>Não há morte. O encontro de duas expansões, ou a expansão de duas formas, pode determinar a supressão de uma delas; mas, rigorosamente, não há morte, há vida, porque a supressão de uma é princípio universal e comum. Daí o caráter conservador e benéfico da guerra. Supõe tu um campo de batatas e duas tribos famintas. As batatas apenas chegam para alimentar uma das tribos que assim adquire forças para transpor a montanha e e ir à outra vertente, onde há batatas em abundância; mas, se as duas tribos dividirem em paz as batatas do campo, não chegam a nutrir-se suficientemente e morrem de inanição. A paz nesse caso, é a destruição; a guerra é a conservação. Uma das tribos extermina a outra e recolhe os despojos. Daí a alegria da vitória, os hinos, aclamações, recompensas públicas e todos os demais feitos das ações bélicas. Se a guerra não fosse isso, tais demonstrações não chegariam a dar-se, pelo motivo real de que o homem só comemora e ama o que lhe é aprazível ou vantajoso, e pelo motivo racional de que nenhuma pessoa canoniza uma ação que virtualmente a destrói. Ao vencido, ódio ou compaixão; ao vencedor, as batatas.
            </p>
          </v-card-text>
        </v-card>
      </v-row>
    </v-container>

  </v-container>
</template>

<style scoped>
.homepage {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 10px;

}
.hero {
  padding: 0;
  margin: 0;
  align-content: center;
  background-color: #F0F6F980 !important;
}
  .who-we-are {
    display: block;
  }
  .who-we-are h1 {
    text-align: left !important;
  }
  .dummy-sheet {
    height: 100%;
    background-color: rgb(16, 15, 77);
  }
  .manifest-v-card {
    background-color: grey !important;
  }
  .manifest h1{
    color: white;
    text-align: center;
    margin-top: 3%;
  }
  .manifest p {
    color: white;
  }
  .journey {
    text-align: center;
    width: 56%;
  }
  .journey-menu {
    margin-left: 13.5%;
  }
  .journey-menu v-col {
    width: 2%;
  }

  .tools-carousel-item {
    display: block;
    text-align: center !important;
  }

</style>

<script>
export default {
  name: 'IndexPage',
  data () {
    return {
      steps: [
        {
          title: 'Descoberta'
        },
        {
          title: 'Teste'
        },
        {
          title: 'Planejamento'
        },
        {
          title: 'Execução'
        }
      ],
      tools: [
        {
          title: 'Teste: qual o melhor negócio para você?'
        },
        {
          title: 'Em construção'
        }
      ],
      text: 'In this container, we tell you all about the new entrepreneur handbook. You can start by taking one of the steps in the path below.'
    }
  }
}
</script>
